In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/college_student_placement_dataset.csv")
df.describe()
#df.head(6)
#df

,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Extra_Curricular_Score,Communication_Skills,Projects_Completed
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,99.471800,7.535673,7.532379,5.546400,4.970900,5.561800,2.513400
std,15.053101,1.447519,1.470141,2.873477,3.160103,2.900866,1.715959
min,41.000000,5.000000,4.540000,1.000000,0.000000,1.000000,0.000000
25%,89.000000,6.290000,6.290000,3.000000,2.000000,3.000000,1.000000
50%,99.000000,7.560000,7.550000,6.000000,5.000000,6.000000,3.000000
75%,110.000000,8.790000,8.770000,8.000000,8.000000,8.000000,4.000000
max,158.000000,10.000000,10.460000,10.000000,10.000000,10.000000,5.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   College_ID              10000 non-null  object
 1   IQ                      10000 non-null  int64
 2   Prev_Sem_Result         10000 non-null  float64
 3   CGPA                    10000 non-null  float64
 4   Academic_Performance    10000 non-null  int64
 5   Internship_Experience   10000 non-null  object
 6   Extra_Curricular_Score  10000 non-null  int64
 7   Communication_Skills    10000 non-null  int64
 8   Projects_Completed      10000 non-null  int64
 9   Placement               10000 non-null  object
dtypes: float64(2), int64(5), object(3)
memory usage: 781.4+ KB

In [ ]:
df.isnull()

,College_ID,IQ,Prev_Sem_Result,CGPA,Academic_Performance,Internship_Experience,Extra_Curricular_Score,Communication_Skills,Projects_Completed,Placement
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

College_ID                0
IQ                        0
Prev_Sem_Result           0
CGPA                      0
Academic_Performance      0
Internship_Experience     0
Extra_Curricular_Score    0
Communication_Skills      0
Projects_Completed        0
Placement                 0
dtype: int64

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/health_lifestyle_classification.csv")
df.describe()

,survey_code,age,height,weight,bmi,bmi_estimated,bmi_scaled,bmi_corrected,waist_size,blood_pressure,...,water_intake,screen_time,stress_level,mental_health_score,income,meals_per_day,electrolyte_level,gene_marker_flag,environmental_risk_score,daily_supplement_dosage
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,92331.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,91530.000000,100000.000000,100000.0,89526.0,100000.0,100000.000000
mean,50000.500000,48.525990,170.023707,70.064862,24.493876,24.493876,73.481627,24.494140,84.933043,119.980149,...,2.006373,6.021525,4.991600,5.004680,4038.127284,2.998720,0.0,1.0,5.5,0.015726
std,28867.657797,17.886768,9.982798,14.693667,5.951069,5.951069,17.853206,5.954184,12.040314,15.015503,...,0.688868,2.933835,3.154997,3.164228,1930.025678,1.414786,0.0,0.0,0.0,5.764489
min,1.000000,18.000000,140.000000,40.000000,9.988495,9.988495,29.965484,9.893845,34.093185,59.128168,...,0.500000,0.000000,0.000000,0.000000,500.000000,1.000000,0.0,1.0,5.5,-9.999895
25%,25000.750000,33.000000,163.306615,59.856938,20.271405,20.271405,60.814215,20.271059,76.795185,109.812060,...,1.532011,3.971318,2.000000,2.000000,2665.402843,2.000000,0.0,1.0,5.5,-4.980501
50%,50000.500000,48.000000,170.016778,69.924141,24.156734,24.156734,72.470201,24.151699,84.957139,119.951794,...,2.000659,5.991171,5.000000,5.000000,4004.601345,3.000000,0.0,1.0,5.5,0.015589
75%,75000.250000,64.000000,176.728920,80.027418,28.258696,28.258696,84.776088,28.247648,93.018713,130.120621,...,2.473047,8.024470,8.000000,8.000000,5360.012694,4.000000,0.0,1.0,5.5,5.008424
max,100000.000000,79.000000,210.000000,139.250894,59.234792,59.234792,177.704377,59.142646,133.153631,184.439195,...,5.000000,16.000000,10.000000,10.000000,12029.409353,5.000000,0.0,1.0,5.5,9.999966

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   survey_code               100000 non-null  int64
 1   age                       100000 non-null  int64
 2   gender                    100000 non-null  object
 3   height                    100000 non-null  float64
 4   weight                    100000 non-null  float64
 5   bmi                       100000 non-null  float64
 6   bmi_estimated             100000 non-null  float64
 7   bmi_scaled                100000 non-null  float64
 8   bmi_corrected             100000 non-null  float64
 9   waist_size                100000 non-null  float64
 10  blood_pressure            92331 non-null   float64
 11  heart_rate                85997 non-null   float64
 12  cholesterol               100000 non-null  float64
 13  glucose                   100000 non-null  float64
 14  insulin                   84164 non-null   float64
 15  sleep_hours               100000 non-null  float64
 16  sleep_quality             100000 non-null  object
 17  work_hours                100000 non-null  float64
 18  physical_activity         100000 non-null  float64
 19  daily_steps               91671 non-null   float64
 20  calorie_intake            100000 non-null  float64
 21  sugar_intake              100000 non-null  float64
 22  alcohol_consumption       57613 non-null   object
 23  smoking_level             100000 non-null  object
 24  water_intake              100000 non-null  float64
 25  screen_time               100000 non-null  float64
 26  stress_level              100000 non-null  int64
 27  mental_health_score       100000 non-null  int64
 28  mental_health_support     100000 non-null  object
 29  education_level           100000 non-null  object
 30  job_type                  100000 non-null  object
 31  occupation                100000 non-null  object
 32  income                    91530 non-null   float64
 33  diet_type                 100000 non-null  object
 34  exercise_type             75031 non-null   object
 35  device_usage              100000 non-null  object
 36  healthcare_access         100000 non-null  object
 37  insurance                 100000 non-null  object
 38  sunlight_exposure         100000 non-null  object
 39  meals_per_day             100000 non-null  int64
 40  caffeine_intake           66739 non-null   object
 41  family_history            100000 non-null  object
 42  pet_owner                 100000 non-null  object
 43  electrolyte_level         100000 non-null  int64
 44  gene_marker_flag          89526 non-null   float64
 45  environmental_risk_score  100000 non-null  float64
 46  daily_supplement_dosage   100000 non-null  float64
 47  target                    100000 non-null  object
dtypes: float64(24), int64(6), object(18)
memory usage: 36.6+ MB

In [ ]:

print("Missing values before imputation:")
print(df.isnull().sum())

Missing values before imputation:
survey_code                     0
age                             0
gender                          0
height                          0
weight                          0
bmi                             0
bmi_estimated                   0
bmi_scaled                      0
bmi_corrected                   0
waist_size                      0
blood_pressure               7669
heart_rate                  14003
cholesterol                     0
glucose                         0
insulin                     15836
sleep_hours                     0
sleep_quality                   0
work_hours                      0
physical_activity               0
daily_steps                  8329
calorie_intake                  0
sugar_intake                    0
alcohol_consumption         42387
smoking_level                   0
water_intake                    0
screen_time                     0
stress_level                    0
mental_health_score             0
mental_health_support           0
education_level                 0
job_type                        0
occupation                      0
income                       8470
diet_type                       0
exercise_type               24969
device_usage                    0
healthcare_access               0
insurance                       0
sunlight_exposure               0
meals_per_day                   0
caffeine_intake             33261
family_history                  0
pet_owner                       0
electrolyte_level               0
gene_marker_flag            10474
environmental_risk_score        0
daily_supplement_dosage         0
target                          0
dtype: int64

In [ ]:
"""4.HANDLE MISSING DATA"""

# Apply mean imputation for numerical columns
numerical_cols = ['daily_steps', 'income']
for col in numerical_cols:
    df[col] = df[col].fillna(df[col].mean()) # Use direct assignment instead of inplace=True

# Apply mode imputation for categorical columns
categorical_cols = ['gene_marker_flag'] # Corrected typo
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0]) # Use direct assignment instead of inplace=True

print("\nDataFrame after imputation:")
print(df)

DataFrame after imputation:
       survey_code  age  gender      height     weight        bmi  \
0                1   56    Male  173.416872  56.886640  18.915925
1                2   69  Female  163.207380  97.799859  36.716278
2                3   46    Male  177.281966  80.687562  25.673050
3                4   32  Female  172.101255  63.142868  21.318480
4                5   60  Female  163.608816  40.000000  14.943302
...            ...  ...     ...         ...        ...        ...
99995        99996   53    Male  177.202253  54.303671  17.293811
99996        99997   22    Male  180.802297  40.033853  12.246712
99997        99998   37    Male  185.540653  84.536847  24.556580
99998        99999   72  Female  181.796786  56.923335  17.223362
99999       100000   37    Male  175.716378  93.017286  30.125841

       bmi_estimated  bmi_scaled  bmi_corrected  waist_size  ...  \
0          18.915925   56.747776      18.989117   72.165130  ...
1          36.716278  110.148833      36.511417   85.598889  ...
2          25.673050   77.019151      25.587429   90.295030  ...
3          21.318480   63.955440      21.177109  100.504211  ...
4          14.943302   44.829907      14.844299   69.021150  ...
...              ...         ...            ...         ...  ...
99995      17.293811   51.881433      17.227616   88.740028  ...
99996      12.246712   36.740135      12.159473  103.659560  ...
99997      24.556580   73.669741      24.172944   98.920422  ...
99998      17.223362   51.670087      17.715475   54.559079  ...
99999      30.125841   90.377523      30.254072   70.743851  ...

       sunlight_exposure  meals_per_day  caffeine_intake  family_history  \
0                   High              5         Moderate              No
1                   High              5             High             Yes
2                   High              4         Moderate              No
3                   High              1              NaN              No
4                   High              1             High             Yes
...                  ...            ...              ...             ...
99995           Moderate              1             High              No
99996           Moderate              5              NaN             Yes
99997                Low              5              NaN              No
99998                Low              4             High             Yes
99999               High              4         Moderate             Yes

       pet_owner  electrolyte_level gene_marker_flag  \
0            Yes                  0              1.0
1             No                  0              1.0
2             No                  0              1.0
3            Yes                  0              1.0
4            Yes                  0              1.0
...          ...                ...              ...
99995        Yes                  0              1.0
99996         No                  0              1.0
99997         No                  0              1.0
99998        Yes                  0              1.0
99999         No                  0              1.0

       environmental_risk_score  daily_supplement_dosage    target
0                           5.5                -2.275502   healthy
1                           5.5                 6.239340   healthy
2                           5.5                 5.423737   healthy
3                           5.5                 8.388611   healthy
4                           5.5                 0.332622   healthy
...                         ...                      ...       ...
99995                       5.5                 3.477124   healthy
99996                       5.5                 1.609656   healthy
99997                       5.5                -9.736463   healthy
99998                       5.5                -4.779376   healthy
99999                       5.5                -2.010351  diseased

[100000 rows x 48 columns]

In [ ]:
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

# Step 1 : Load dataset (Titanic)
df = sns.load_dataset('titanic')
print("Original Dataset :")
print(df.head())

# Step 2 : Explore data
# Gives the info of datatypes and more
print("\nDataset Info:")
print(df.info())

# Description of dataset
print("\nDescription of dataset :")
print(df.describe())

# Count of total null values present in each cloumn
print("\nMissing Values:")
print(df.isnull().sum())

# Step 3 : Handle missing data
# Drop column with most null values i.e. deck
df.drop(columns = ['deck'], inplace = True)

# Impute numerical column with mean
imputer = SimpleImputer(strategy = 'mean')
df['age'] = imputer.fit_transform(df[['age']])

# Impute categorical column with mode
imputer = SimpleImputer(strategy = 'most_frequent')
df['embarked'] = imputer.fit_transform(df[['embarked']]).ravel()

# Drop missing rows
df.dropna(inplace = True)

print("\nAfter Handling Missing Data:")
print(df.isnull().sum())

# Step 4 : Handle Categorical Variables
# Identify categorical columns
categorical_cols = df.select_dtypes(include = 'object').columns.tolist()
print("\nCategorical Columns:", categorical_cols)

# Apply LabelEncoder
class_order = {'First' : 1, 'Second' : 2, 'Third' : 3}
df['class'] = df['class'].map(class_order)

# Apply OneHOtEncoder
df = pd.get_dummies(df, columns=['sex', 'embarked', 'who'], drop_first=True)
print("\nAfter Encoding Categorical Variables:")
print(df.head())

# Step 5 : Apply Normalization and Standardization
# Identify numerical columns
numerical_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()
print("\nNumerical Columns:", numerical_cols)

scaler = StandardScaler();
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

print("\nAfter Scaling (StandardScaler):")
print(df[numerical_cols].head())

# Step 6 : Split the dataset
# Define features and target
X = df.drop(columns='survived')
Y = df['survived']

# Split the dataset
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print("\nShapes of Train/Test Sets:")
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", Y_train.shape)
print("y_test:", Y_test.shape)

Original Dataset :
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

Description of dataset :
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Missing Values:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

After Handling Missing Data:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Categorical Columns: ['sex', 'embarked', 'who', 'embark_town', 'alive']

After Encoding Categorical Variables:
   survived  pclass   age  sibsp  parch     fare class  adult_male  \
0         0       3  22.0      1      0   7.2500     3        True
1         1       1  38.0      1      0  71.2833     1       False
2         1       3  26.0      0      0   7.9250     3       False
3         1       1  35.0      1      0  53.1000     1       False
4         0       3  35.0      0      0   8.0500     3        True

   embark_town alive  alone  sex_male  embarked_Q  embarked_S  who_man  \
0  Southampton    no  False      True       False        True     True
1    Cherbourg   yes  False     False       False       False    False
2  Southampton   yes   True     False       False        True    False
3  Southampton   yes  False     False       False        True    False
4  Southampton    no   True      True       False        True     True

   who_woman
0      False
1       True
2       True
3       True
4      False

Numerical Columns: ['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

After Scaling (StandardScaler):
   survived    pclass       age     sibsp     parch      fare
0 -0.786961  0.825209 -0.590495  0.431350 -0.474326 -0.500240
1  1.270711 -1.572211  0.643971  0.431350 -0.474326  0.788947
2  1.270711  0.825209 -0.281878 -0.475199 -0.474326 -0.486650
3  1.270711 -1.572211  0.412509  0.431350 -0.474326  0.422861
4 -0.786961  0.825209  0.412509 -0.475199 -0.474326 -0.484133

Shapes of Train/Test Sets:
X_train: (711, 15)
X_test: (178, 15)
y_train: (711,)
y_test: (178,)